<!DOCTYPE html>
<html>
  <head>
    <title>NotebookForReaders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => "sessions/nav" %>
    <%= render :partial => "sessions/nav2" if user_signed_in? %>
    <%= yield %>
  </body>
</html>
